[MASTER]

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100

# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1
# tab).
indent-string="  "

[MESSAGES CONTROL]
# C0111: Missing docstring
# R0904: Too many public methods
disable=C0111,R0903,R0904,C0326,C0330,C0413
