/* New tab page */

@-moz-document url(about:newtab), url(about:home) {
  body {
    overflow-y: auto !important;
  }

  .top-site-icon.default-icon {
    display: none !important;
  }
}

/* Dark theme */

body[lwt-newtab-brighttext] {
  --newtab-background-color: #2d2d2d !important;
  --newtab-textbox-background-color: #2d2d2d !important;
}
