/* @namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); */

/* General fixes */

#main-window[sizemode="maximized"] .titlebar-buttonbox-container,
#main-window[sizemode="maximized"] .titlebar-spacer {
  display: none !important;
}

#TabsToolbar .tabbrowser-tab::after,
#TabsToolbar .tabbrowser-tab::before {
  visibility: hidden !important;
}

#TabsToolbar .tabbrowser-tab .tab-background {
  border: none !important;
}

#TabsToolbar .tabbrowser-tab .tab-line {
  visibility: hidden !important;
}

#TabsToolbar .tabs-newtab-button {
  box-shadow: none !important;
  background: transparent !important;
}

.titlebar-spacer {
  opacity: 1 !important;
  width: 8px !important;
}

#urlbar {
  padding-right: 27px !important;
}

#urlbar,
#navigator-toolbox .searchbar-textbox {
  background-image: none !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

#navigator-toolbox .toolbarbutton-1 .toolbarbutton-icon,
#navigator-toolbox .toolbarbutton-1 .dropmarker-icon,
#navigator-toolbox .toolbarbutton-1 .toolbarbutton-badge-stack {
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

#navigator-toolbox .toolbarbutton-menubutton-dropmarker:before {
  visibility: hidden !important;
}

#urlbar-container + #stop-reload-button .toolbarbutton-icon {
  border-radius: 0px !important;
  padding: 5px 6px !important;
}

#urlbar-container + #stop-reload-button {
  transform: translateX(-36px) !important;
  margin-right: -34px !important;
}

.private-browsing-indicator {
  margin: 0 !important;
  width: 26px !important;
  height: 20px !important;
  background-color: #8000d7 !important;
  background-size: 80% !important;
  border-bottom: 1px solid rgba(0, 0, 0, .2) !important;
}


/* Default theme */

#TabsToolbar .tabbrowser-tab[selected] {
  box-shadow: 1px 0 0 rgba(0, 0, 0, .2), -1px 0 0 rgba(0, 0, 0, .2) !important;
}

#nav-bar, .titlebar-spacer {
  border-color: rgba(0, 0, 0, .2) !important;
}


/* Dark theme */

:root:-moz-lwtheme-brighttext {
  --toolbox-border-bottom-color: #1b1b1b !important;
  --lwt-sidebar-background-color: #2d2d2d !important;
}

#toolbar-menubar[brighttext] {
  background-color: #282828 !important;
  border-bottom: 1px solid #1b1b1b !important;
}

#TabsToolbar[brighttext] {
  background-color: #282828 !important;
}

#TabsToolbar[brighttext] .titlebar-spacer {
  border-color: #1b1b1b !important;
}

#TabsToolbar[brighttext] .tabbrowser-tab {
  background: #282828 !important;
}

#TabsToolbar[brighttext] .tabbrowser-tab[selected] {
  background: #353535 !important;
  box-shadow: 1px 0 0 #1b1b1b, -1px 0 0 #1b1b1b !important;
}

#TabsToolbar[brighttext] .tabbrowser-tab:hover:not([selected]) {
  background: #2a2a2a !important;
}

#TabsToolbar[brighttext] .tabbrowser-tab .tab-background {
  background: none !important;
}

#nav-bar[brighttext] {
  background-color: #353535 !important;
  border-color: #1b1b1b !important;
}

#nav-bar[brighttext] #urlbar,
#nav-bar[brighttext] #searchbar {
  background-color: #2d2d2d !important;
  border-color: #1b1b1b !important;
}


/* Light theme */

:root:-moz-lwtheme-darktext {
  --toolbox-border-bottom-color: #b6b6b3 !important;
  --lwt-sidebar-background-color: #cfcfcd !important;
}

#toolbar-menubar[darktext] {
  background-color: #cfcfcd !important;
  border-bottom: 1px solid #b6b6b3 !important;
}

#TabsToolbar[darktext] {
  background-color: #cfcfcd !important;
}

#TabsToolbar[darktext] .titlebar-spacer {
  border-color: #b6b6b3 !important;
}

#TabsToolbar[darktext] .tabbrowser-tab {
  background: #cfcfcd !important;
  color: #8b8e8f !important;
}

#TabsToolbar[darktext] .tabbrowser-tab[selected] {
  background: #dbdbd9 !important;
  box-shadow: 1px 0 0 #b6b6b3, -1px 0 0 #b6b6b3 !important;
  color: #2e3436 !important;
}

#TabsToolbar[darktext] .tabbrowser-tab:hover:not([selected]) {
  background: #b6b6b3 !important;
}

#TabsToolbar[darktext] .tabbrowser-tab .tab-background {
  background: none !important;
}

#nav-bar[darktext] {
  background-color: #dbdbd9 !important;
  border-color: #b6b6b3 !important;
}

#nav-bar[darktext] #urlbar,
#nav-bar[darktext] #searchbar {
  background-color: #cfcfcd !important;
  border-color: #b6b6b3 !important;
}
