.tiled-top .titlebar,
.tiled-bottom .titlebar,
.tiled-left .titlebar,
.tiled-right .titlebar,
.tiled-top headerbar,
.tiled-bottom headerbar,
.tiled-left headerbar,
.tiled-right headerbar {
  border-radius: 0;
}

.titlebar headerbar:first-child {
  border-top-right-radius: 0;
}

.titlebar headerbar:last-child {
  border-top-left-radius: 0;
}
